<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <style>
            {% include 'blogv2_app/css/css.css' %}
            {% include 'blogv2_app/css/navbar.css' %}
            {% block css %}
            {% endblock %}
        </style>
        <script>{% block js %}{% endblock %}</script>
    </head>

    <body>

        <div class="container">
        <nav class="navbar">
            <p><a href="{% block link %}{% endblock %}" class="one">{% block active %}{% endblock %}</a>
            <a href="{% block link2 %}{% endblock %}" class="zero">{% block item2 %}{% endblock %}</a>
            <a href="{% block link3 %}{% endblock %}" class="zero">{% block item3 %}{% endblock %}</a>
            <a href="{% block link4 %}{% endblock %}" class="zero">{% block item4 %}{% endblock %}</a>
            <a href="{% block link5 %}{% endblock %}" class="zero">{% block item5 %}{% endblock %}</a></p>
        </nav>
        </div>
        {% block header %}{% endblock %}
        <div id="body">  
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
