{% extends "base.html" %}

{% block title %}
Articles
{% endblock %}

<!-- NAVIGATIONAL BAR -->

{% block link %}http://127.0.0.1:8000/{% endblock %}
{% block active %}Articles{% endblock %}

{% block link2 %}http://127.0.0.1:8000/articles/my-articles/{% endblock %}
{% block item2 %}My Articles{% endblock %}

{% block link3 %}http://127.0.0.1:8000/articles/add/{% endblock %}
{% block item3 %}Add{% endblock %}

{% block link4 %}http://127.0.0.1:8000/register/{% endblock %}
{% block item4 %}Register{% endblock %}

{% block link5 %}http://127.0.0.1:8000/accounts/login/{% endblock %}
{% block item5 %}LogIn{% endblock %}

<!-- BODY -->
{% block header %}<h1>Articles</h1>{% endblock %}
{% block content %}


{% for article in articles %}

    <h3><a href="{% url 'articleview' article.pk %}">{{ article.title }}</a></h3>
    <p>{{ article.sum }}</p>

    <h5>Author: {{ article.author.username }}</h5>
    <h5>Date: {{ article.date }}</h5>
<br>
{% endfor %}
{% endblock %}
